@import './common/reset.scss';
@import './common/variables.scss';
@import './mixins/media.scss';

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1300px;
}

.policy {
    padding: 7rem 0 20rem;
    font-family: $font-georgia;
    &__title {
        max-width: 60rem;
        color: $color-dark-blue;
        font-family: $font-calibri;
        font-weight: bold;
        font-size: 5.5rem;
        line-height: 1em;
        text-align: center;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        margin: 0 auto 6rem;
    }
    &__text {
        color: $color-black;
        font-size: 1.8rem;
        line-height: 1.4em;
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
    &__list {
        text-indent: 2rem;
        color: $color-black;
        font-size: 1.8rem;
        line-height: 1.4em;
        margin-bottom: 2rem;
    }
    @include media-1024 {
        padding: 4rem 0 6rem;
        &__title {
            font-size: 2.4rem;
            max-width: 27rem;
            line-height: 1.2em;
            margin: 0 auto 2rem;
        }
        &__text {
            font-size: 1.2rem;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
        &__list {
            text-indent: 1.5rem;
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
    }
}

@import './common/header.scss';
@import './common/warning.scss';
@import './common/footer.scss';