.help {
    position: relative;
    z-index: 100;
    padding: 23.6rem 0 8rem;
    font-family: $font-georgia;
    &__title {
        max-width: 90rem;
        color: $color-dark-blue;
        font-weight: bold;
        font-size: 5rem;
        line-height: 1.2em;
        letter-spacing: 0.025em;
        margin-bottom: 2rem;
    }
    &__text {
        color: $color-black;
        font-size: 2rem;
        line-height: 1.15em;
        margin-bottom: 8rem;
    }
    @include media-1024 {
        padding: 4.5rem 0 6rem;
        &__title {
            margin: 0 auto 2rem;
            max-width: 23.9rem;
            font-size: 1.8rem;
            text-align: center;
        }
        &__text {
            margin: 0 auto;
            max-width: 29.3rem;
            font-size: 1.4rem;
            text-align: center;
        }
    }
}

.destination {
    display: flex;
    justify-content: center;
    &__item:not(:last-child) {
        margin-right: 10rem;
    }
    &__link {
        padding: 0.7rem;
        color: rgba($color: $color-black, $alpha: 0.5);
        min-width: 20rem;
        transition: 0.2s;
        font-family: $font-calibri;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 1.222em;
        text-align: center;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        border: 2px solid rgba($color: $color-black, $alpha: 0.5);
        &:hover,
        &--active {
            color: $color-gold;
            border-color: $color-gold;
        }
    }
    @include media-1024 {
        padding: 4rem 0;
        flex-direction: column;
        align-items: center;
        &__item:not(:last-child) {
            margin: 0 0 2rem 0;
        }
        &__link {
            font-size: 1rem;
            min-width: 18rem;
            padding: 0.790rem;
            line-height: 1.220em;
        }
    }
}

.result {
    display: none;
    text-align: center;
    &__btn {
        font-family: $font-calibri;
        font-weight: bold;
        cursor: pointer;
        min-width: 23.2rem;
        color: $color-white;
        font-size: 1.6rem;
        line-height: 1.375em;
        letter-spacing: 0.025em;
        background-color: $color-gold;
        border: none;
        outline: none;
        padding: 0.8rem 2rem;
        text-transform: uppercase;
    }
    @include media-1024 {
        display: block;
    }
}

.desc {
    display: none;
    &--active {
        display: block;
    }
    &__text {
        cursor: pointer;
        max-width: 89rem;
        color: $color-dark-blue;
        font-weight: bold;
        font-size: 3rem;
        line-height: 1.15em;
        text-transform: uppercase;
        transition: 0.2s;
        &--indent {
            margin: 8rem 0 3rem;
        }
        &:hover,
        &--active {
            color: $color-gold;
        }
    }
    &__box {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__brand {
        color: $color-black;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 1.15em;
    }
    @include media-1024 {
        &__text {
            max-width: 30rem;
            font-size: 1.4rem;
            text-align: center;
            margin-bottom: 4rem;
            &--indent {
                margin: 4rem auto 2rem;
            }
        }
        &__box {
            flex-direction: column;
            align-items: center;
        }
        &__brand {
            font-size: 1.2rem;
        }
    }
}