.order {
    padding: 14rem 0;
    font-family: $font-georgia;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10.6rem;
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        color: $color-dark-blue;
        font-weight: bold;
        font-size: 5rem;
        line-height: 1.2em;
        letter-spacing: 0.025em;
    }
    @include media-1024 {
        padding: 6rem 0;
        &__top {
            align-items: center;
            flex-direction: column;
            margin-bottom: 6rem;
        }
        &__bottom {
            align-items: center;
            flex-direction: column;
        }
        &__text {
            font-size: 1.8rem;
            margin-bottom: 3rem;
        }
    }
}