.page {
    position: relative;
    padding: 6rem 0 25rem;
    font-family: $font-calibri;
    background-color: $color-light-blue;
    &__box {
        position: relative;
        z-index: 888;
        max-width: 68rem;
    }
    &__title {
        color: $color-medium-blue;
        font-weight: bold;
        font-size: 6.1rem;
        text-transform: uppercase;
        margin-bottom: 4.3rem;
    }
    &__subtitle {
        margin-bottom: 3rem;
        color: $color-white;
        font-weight: bold;
        font-size: 4.8rem;
        text-transform: uppercase;
    }
    &__btn {
        padding: 1.5rem 4rem;
        min-width: 29.4rem;
        color: rgba($color: $color-white, $alpha: 0.8);
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 1.2em;
        letter-spacing: 0.025em;
        text-align: center;
        text-transform: uppercase;
        border: 2px solid rgba($color: $color-white, $alpha: 0.8);
    }
    
    &__medicine {
        &-lines {
            position: absolute;
            top: 3.5rem;
            right: -1.2rem;
            z-index: 1;
        }
        &-elements {
            position: absolute;
            top: 7.7rem;
            right: 4.5rem;
            z-index: 3;
        }
        &-box {
            position: absolute;
            top: 6.5rem;
            right: 0;
            z-index: 2;
        }
    }
}