.product {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: $color-beige;
    &__item {
        position: relative;
        padding: 2rem 2rem 1.6rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        &--bg-blue {background-color: $color-light-blue;}
        &--bg-denim {background-color: $color-denim-blue;}
        &--bg-turquoise {background-color: $color-turquoise;}
        &--bg-green {background-color: $color-green;}
        &--bg-orange {background-color: $color-orange;}
    }
    &__molecules-first {
        position: absolute;
        top: 2.4rem;
        left: 0;
        z-index: 1;
    }
    &__molecules-second {
        position: absolute;
        left: 0;
        bottom: -3.4rem;
        z-index: 1;
    }
    &__molecules-third {
        position: absolute;
        top: 3rem;
        right: 0;
        z-index: 1;
    }
    &__logo {
        position: relative;
        z-index: 2;
        margin: auto;
        display: flex;
        flex-direction: column;
        &-link:not(:last-child) {
            margin-bottom: 2.4rem;
        }
    }
    &__text {
        color: $color-white;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 1.92em;
        letter-spacing: 0.025em;
        text-align: center;
        text-transform: uppercase;
    }
    @include media-1024 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(auto, 16rem);
        &__logo {
            margin: auto;
        }
        &__item:first-child {
            grid-column: 1 / 3;
        }
        &__text {
            font-size: 1.1rem;
        }
        &__item {
            padding: 1.4rem 1.5rem 1.1rem;
        }
    }
}