.info {
    font-family: $font-georgia;
    &__title {
        padding: 0 10px;
        margin: 0 auto 5rem;
        max-width: 104rem;
        color: $color-dark-blue;
        font-weight: bold;
        font-size: 4.8rem;
        line-height: 1.15em;
        text-align: center;
        letter-spacing: 0.025em;
        text-transform: uppercase;
    }
    @include media-1024 {
        &__title {
            font-size: 2rem;
            max-width: 30rem;
            margin: 0 auto 3rem;
        }
    }
}

.tablet {
    position: relative;
    &__img {
        &-main {
            width: 100%;
        }
        &-text {
            width: 100%;
            padding: 5.5rem 8rem 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    @include media-1024 {
        &__img {
            &-text {
                width: 100%;
                padding: 4.6rem 2rem 0 4.1rem;
            }
        }
    }
}

.composition {
    display: none;
    color: $color-black;
    font-family: $font-georgia;
    max-width: 27.5rem;
    margin: 3rem auto 0;
    &__item:not(:last-child) {
        margin-bottom: 3rem;
    }
    &__img {
        margin: 0 auto 2rem; 
    }
    &__title {
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.2em;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    &__desc {
        font-size: 1rem;
        line-height: 1.2em;
        text-align: center;
    }
    @include media-1024 {
        display: block;
    }
}

.characteristic {
    margin-top: 5rem;
    &__item {
        color: $color-black;
        font-size: 1rem;
        line-height: 1.7em;
        & span {
            font-weight: bold;
        }
    }
    @include media-1024 {
        margin: 6rem auto 0;
        max-width: 27.5rem;
        &__item {
            font-size: 0.8rem;
            line-height: 1.7em;
            text-align: justify;
        }
    }
}