*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body {
    position: relative;
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    min-height: 100vh;
}

@media (max-width: 1024px) {
    .hidden {
        overflow: hidden;
    }
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

input, button, textarea, select {
    font-family: inherit;
}