$font-georgia: 'Georgia', sans-serif;
$font-calibri: 'Calibri', sans-serif;

$color-white: #fff;
$color-black: #000;
$color-light-black: #292929;
$color-light-blue: #5DC5DF;
$color-medium-blue: #007398;
$color-dark-blue: #2E3E7E;
$color-gold: #EEB33B;
$color-beige: #FBF9F1;
$color-denim-blue: #1B53C4;
$color-turquoise: #169793;
$color-green: #68A830;
$color-orange: #FF8306;
$color-grey: #F5F5F5;
$color-dark-red: #E51010;