.warning {
    font-family: $font-georgia;
    position: absolute;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(15px);
    background-color: rgba($color: $color-black, $alpha: 0.5);
    &--active {
        opacity: 1;
        visibility: visible;
    }
    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

    }
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 59.3rem;
        padding: 5.3rem 2.1rem 5.7rem;
        background: $color-white;
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
    }
    &__title {
        display: inline-block;
        color: $color-dark-blue;
        font-weight: bold;
        font-size: 3.6rem;
        line-height: 1.15em;
        margin-bottom: 4rem;
    }
    &__text {
        color: $color-black;
        font-size: 1.8rem;
        line-height: 1.45em;
        max-width: 31rem;
        margin-bottom: 4rem;
    }
    &__btn {
        border: none;
        cursor: pointer;
        padding: 0.7rem 2.6rem;
        background-color: $color-gold;
        & span {
            font-family: $font-calibri;
            color: $color-white;
            font-weight: bold;
            font-size: 2.4rem;
            line-height: 1.62em;
            letter-spacing: 0.025em;
            text-transform: uppercase;
        }
    }
    @include media-1024 {
        &__box {            
            padding: 5.6rem 2.1rem 6.2rem;
        }
        &__title {
            font-size: 2.4rem;
            margin-bottom: 3rem;
        }
        &__text {            
            max-width: 24rem;
            font-size: 1.4rem;
            margin-bottom: 3rem;
        }
        &__btn {            
            padding: 0.7rem 1.8rem;
            & span {
                font-size: 1.6rem;
            }
        }
    }
}